<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shmedo.mcloudapp">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序打开网络套接字 -->
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- 允许程序连接到已配对的蓝牙设备 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 允许程序发现和配对蓝牙设备 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 允许程序访问精良位置(如GPS) -->
    <!--
如果您的应用需要后台定位权限，且有可能运行在Android Q设备上,并且设置了target>28，必须增加ACCESS_BACKGROUND_LOCATION权限声明
如果设置了target > 28，需要增加这个权限，否则不会弹出"始终允许"这个选择框
    -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- 允许程序访问精良位置(如GPS) -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 允许程序改变Wi-Fi连接状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" /> <!-- 允许程序改变网络链接状态 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" /> <!-- 允许应用程序访问额外的位置提供命令 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 允许程序设置内置sd卡的读权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序设置内置sd卡的写权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- 请求访问使用照相设备 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- 用WakeLock使Android应用程序保持后台唤醒 -->
    <uses-permission android:name="android.permission.FLASHLIGHT" /> <!-- 访问闪光灯 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" /> <!-- Android8.0 安装 apk 需要添加权限 -->
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 声明应用仅适用于支持 BLE 的设备 -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:name=".MCloudApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity"
        tools:replace="android:name"
        tools:targetApi="p">
        <!-- 声明最小宽高比 -->
        <meta-data
            android:name="android.min_aspect"
            android:value="1.0" /> <!-- 声明最大宽高比 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${mapApikey}" />

        <service android:name="com.amap.api.location.APSService" />

        <activity android:name="com.pgyersdk.feedback.FeedbackActivity" /> <!-- 蒲公英配置 -->
        <meta-data
            android:name="PGYER_APPID"
            android:value="${pgyerKey}" />

        <provider
            android:name="com.shmedo.core.provider.GenericFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".common.ui.activity.WelcomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MCloud.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".common.ui.activity.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".common.ui.activity.ServiceConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity
            android:name=".common.ui.activity.ScanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/MCloud.ScanActivity" />
        <activity
            android:name=".common.ui.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maps.ui.activity.MapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MCloud.MapActivity" />
        <activity
            android:name=".maps.ui.activity.PoiSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maps.ui.activity.SearchPoiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maps.ui.activity.SpeedTestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".maps.ui.activity.SpeedTestResultActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/MCloud.SpeedTestResultActivity" /> <!-- Activity在高德 SDK内部实现 -->
        <activity
            android:name="com.amap.api.maps.offlinemap.OfflineMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name=".user.ui.activity.UserHomePageActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.activity.CompanyHomePageActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.activity.AboutAppActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.activity.UpdatePasswordActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".user.ui.activity.UpdatePhoneActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait" />
        <activity android:name=".common.ui.activity.WebViewActivity" />
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CropImageActivity" />
        <activity
            android:name=".projects.ui.activity.ViewProjectsInMapActivity"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".projects.ui.activity.ProjectSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".projects.ui.activity.DevicesInProjectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".projects.ui.activity.DeviceSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".projects.ui.activity.ProjectIntroductionActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".deviceconfig.ui.activity.DeviceConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.DeviceHistoryDataAnalysisActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.das.DasCollectorSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.DeviceCurrentStateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.QueryDeviceDataActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.DataCenterServerConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.DataCenterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.das.sensor.DasSensorConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.AdvancedSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.CustomCommandLogPrintActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.das.sensor.DasExternalSensorHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.das.sensor.DasExternalVibratingWireSensorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.das.sensor.DasExternalDigitalSensorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.vms.VmsHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.vms.VmsTerminalSearchActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.vms.VmsAdvancedSettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.vms.VmsAisleSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.vms.VmsDataCenterSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.vms.VmsTerminalHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.vms.VmsTerminalCurrentStateActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.vms.VmsTerminalExternalSensorHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.vms.VmsTerminalExternalSensorConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.vms.VmsTerminalParamSettingActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.adme.AdmeBasicParamConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.adme.AdmeAdvancedConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.adme.AdmeDataCenterConfigActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.adme.AdmeDataCenterHomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.adme.AdmeMeterWheelActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />
        <activity
            android:name=".deviceconfig.ui.activity.adme.AdmeInclinometerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:maxAspectRatio="2.4"
            android:screenOrientation="portrait"
            android:theme="@style/LightStatusBarActivity" />

        <activity
            android:name=".ddshare.DDShareActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>